*{
    background-color: lightcoral;
}

.container1{ 
    position: absolute; 
    display: flex; 
    margin-left: 169px;
    margin-top: 35px;
    /* background-color: white; */
}

.fieldset{
    margin-right: 25px;
}

.main{
    background-color: #e66a6a; 
}
.email{ 
    margin-top: 25px;
    font-style: normal;
    font-weight: bold;
}

.password{
    display: block;
    margin-top: 25px;
    font-style: normal;
    font-weight: bold;
}

.submit{
    margin-top: 25px;
    font-style: normal;
    font-weight: bold;
}

.create{
    margin-top: 150px;
    font-style: normal;
    font-weight: bold;
}