.navbar-brand { 
    font-style: normal;
    font-weight: bold;
    margin-left: 150px; 
    font-size: 24px;
    line-height: 29px;
}


.navbar-toggler{
    color: #DDAF94;
}

.navbar-brand{
    color:#e66a6a; 
}
.navbar-nav{
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 26px;
color: #FDF8F5;

}

.nav-item{
    margin-left: 35px;
    color:#e66a6a; 
}

.nav-item-sign{
    margin-left: 564px;
    color:#e66a6a; 
}

.nav-item-new{
    margin-left: 45px; 
    color:#e66a6a; 
}